/* GALERIA */

.div__galeria {
  margin: 12em auto 2em auto;
  width: 80%;
}

.div__gallery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0 30px;
}

.div__thumbnail {
  border: none;
  transform: scale(1);
  transition: transform 0.3s;
}

.div__thumbnail img {
  background-color: rgba(0, 0, 0, 0.081);
  border: 1em solid rgb(130, 130, 130);
  border-radius: 10em;
  box-shadow: 0 0 10em 0.08em rgba(65, 65, 65, 0.759);
  height: 6.8vw;
  margin: 30em;
  /* min-height: 81.6px; */
  /* min-width: 120px; */
  object-fit: contain;
  overflow: hidden;
  width: 10vw;
}

.div__thumbnail:hover {
  cursor: pointer;
  transform: scale(1.5);
}

@media all and (max-width: 1040px) {
  .div__thumbnail img {
    margin: 14em;
  }
}

@media all and (max-width: 768px) {
  .div__thumbnail img {
    height: 12.24vw;
    margin: 10em;
    width: 18vw;
  }
}
