/* slider start */
.thumbnail img {
  background-color: rgba(0, 0, 0, 0.081);
  border: 1em solid rgb(130, 130, 130);
  border-radius: 10em;
  box-shadow: 0 0 10em 0.08em rgba(65, 65, 65, 0.759);
  height: 200em;
  margin: 20em;
  object-fit: contain;
  overflow: hidden;
  width: 300em;
}

.thumbnail {
  border: none;
  transform: scale(1);
  transition: transform 0.3s;
}

.thumbnail:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0 30px;
}

ul,
ul li {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.popup {
  align-content: center;
  animation: fadeIn 0.7s;
  background-color: #16181af6;
  backdrop-filter: blur(5px);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.popup__img {
  max-height: 85%;
  max-width: 85%;
}

.popup.hidden {
  display: none;
}

.popup.fade-out {
  animation: fadeOut 0.7s both;
}

.popup__close {
  background-color: rgba(119, 119, 119, 0);
  border: 1px solid rgb(37, 37, 37);
  border-radius: 16px;
  box-sizing: initial;
  cursor: pointer;
  height: 16px;
  padding: 0;
  position: fixed;
  right: 16vw;
  top: 3.2vh;
  transform: scale(2.2);
  transition: border 1s, border-radius 0.8s, transform 1s;
  width: 16px;
}

.popup__close:hover {
  background-color: rgba(94, 94, 94, 0.315);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 2px;
  transform: scale(2.6);
}

.popup__arrow {
  background-color: rgba(119, 119, 119, 0);
  border: 1px solid rgb(130, 130, 130);
  border-radius: 16px;
  box-sizing: initial;
  height: 16px;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: scale(3);
  transition: border-radius 0.8s, transform 1s;
  width: 16px;
}

.popup__arrow:hover {
  background-color: rgba(109, 109, 109, 0.315);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 2px;
  cursor: pointer;
  transform: scale(3.5);
}

.popup__arrow--left {
  left: 8vw;
}

.popup__arrow--right {
  right: 8vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* slider end */
