* {
  box-sizing: border-box;
  font-family: Author-Extralight, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgba(240, 240, 240, 0.776);
  /* #f0f0f0c6 */
  --secondary-color: rgb(255, 255, 255);
  /* #ffffff (white)  */
  --third-color: rgb(255, 222, 162);
  /* #ffdea2 */
}

body {
  background-color: #24262a;
  background-image: linear-gradient(315deg, #24262a 0%, #131416 74%);
  background-repeat: no-repeat;
  color: var(--primary-color);
  font-size: 1.6rem;
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.container {
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
  width: 1600px;
}

.img__top {
  bottom: 8em;
  opacity: 0.25;
  position: fixed;
  right: 2em;
  width: 14em;
  z-index: 1;
}

/* HEADER */

.div__logo {
  animation: anim1 2s ease-in-out;
  color: var(--primary-color);
  font-size: 11em;
  letter-spacing: 0.5em;
  margin: 0 auto;
  max-width: 100vw;
  padding: 0.5em 0 0 0.5em;
  position: relative;
  text-align: center;
  width: fit-content;
  word-wrap: break-word;
}

@keyframes anim1 {
  0% {
    color: #24262a;
    font-size: 0em;
    margin-bottom: 30%;
  }
  100% {
  }
}

.span_italic1 {
  font-size: 0.8em;
  font-style: italic;
}

.div__logo > a {
  color: inherit;
  display: block;
  margin: 0 auto;
  padding: 0.5em 0 0 0;
  text-decoration: none;
  word-wrap: break-word;
}

.div__logo > a:hover {
  color: var(--secondary-color);
}

/* NAV */

.div__navi-mobile {
  display: none;
}

.div__logo-mobile {
  margin: 1.5em auto 0;
  position: relative;
  text-align: center;
  width: 1em;
}

.img__logo-mobile {
  aspect-ratio: 1/1;
  width: 1em;
}

#img__nm-close {
  display: none;
}

.div__navi {
  display: flex;
  align-items: flex-end;
  margin-left: 7em;
  text-align: center;
}

.div__navi li > a {
  color: var(--third-color);
  display: block;
  font-size: 1.1em;
  padding-left: 0.2em;
  text-decoration: none;
  width: 9em;
}

.div__navi li > a:hover {
  background-color: rgb(65, 47, 16);
  border-radius: 3em;
  color: var(--secondary-color);
}

.img__navbig {
  aspect-ratio: 1/1;
  height: 14em;
  margin-right: 6em;
}

.img__navsmall {
  display: none;
}

.navigation_ul {
  color: var(--third-color);
  display: flex;
  font-size: 5em;
  justify-content: left;
  letter-spacing: 0.2em;
  list-style-type: none;
  margin: 3em 0 0 0;
}

.navigation_ul li {
  border-right: 1px solid rgb(61, 61, 61);
  line-height: 1.5;
  padding: 0 1em;
  text-transform: uppercase;
}

.div__navi li:last-child {
  border-right: none;
}

/* MAIN */

/* HOME */

.div__effect {
  /* border: 1px solid gray; */
  margin: 5em auto 0;
  width: 100%;
}

.div__home {
  margin: 20em auto 0 auto;
  width: 80%;
}

.img__square {
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 0.3em;
  margin-right: 1.8em;
  opacity: 0.5;
  vertical-align: middle;
}

.div__h1 {
  background-color: rgb(35, 35, 35);
  background-image: url(../img/home/pic1.jpg);
  background-position: left 80%;
  border-radius: 5em;
  max-width: 100%;
  padding: 5em 0;
}
h1 {
  color: rgb(159, 155, 147);
  font-size: 14.6em;
  font-weight: 200;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  padding: 0.1em 2em;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.4em;
  word-wrap: break-word;
}

/* O MNIE  */

h2 {
  font-size: 14em;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.div__o-mnie {
  display: flex;
  justify-content: flex-end;
  margin: 12em auto 2em auto;
  transition: display 0.5s;
  width: 80%;
}

.p__o-mnie {
  font-size: 10.5em;
  text-align: left;
  letter-spacing: 0.06em;
  margin: 0 0 2em;
  text-indent: 2em;
  word-wrap: break-word;
}

.img__coffee-machine {
  margin: 73em 0 16em 10em;
  max-width: 30vw;
  padding-left: 12em;
  width: 340em;
}

/* KONTAKT */

.div__kontakt2 {
  display: none;
}

.div__kontakt1,
.div__kontakt2 {
  margin: 12em auto 2em auto;
  width: 80%;
}

.div__kontakt1 li,
.div__kontakt2 li {
  font-size: 11.8em;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  list-style-type: none;
  margin-left: 2em;
}

.div__kontakt1 li > a,
.div__kontakt2 li > a {
  color: var(--primary-color);
  font-size: 1em;
  margin-right: 0.7em;
  text-decoration: none;
  transition: color 0.7s, letter-spacing 0.7s;
}

.div__kontakt2 li {
  margin-top: 0.5em;
}

.div__kontakt1 li > a:hover,
.div__kontakt2 li > a:hover {
  color: rgb(255, 255, 255);
  letter-spacing: 0.13em;
}

.img__icon {
  aspect-ratio: 1/1;
  margin-bottom: 0.2em;
  margin-right: 1.3em;
  vertical-align: middle;
  width: 1.8em;
}

.p__links {
  display: inline;
  font-size: 0.7em;
  font-style: italic;
  letter-spacing: 0.1em;
}

/* FOOTER */

.div__js-foot {
  font-size: 6.4em;
  letter-spacing: 0.5em;
  margin: 3em auto 0 auto;
  max-width: 100vw;
  padding: 0.5em 0 0 0.5em;
  text-align: center;
  width: fit-content;
  word-wrap: break-word;
}

.span_italic2 {
  font-size: 0.8em;
  font-style: italic;
}

.logo_round {
  aspect-ratio: 1/1;
  display: block;
  height: 16em;
  margin: 5em auto 35em auto;
}

/* @MEDIA */

@media all and (max-width: 1200px) {
  .img__square {
    margin-right: 1.5em;
  }
  h1 {
    font-size: 13em;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
  .p__o-mnie {
    font-size: 9.5em;
  }
}

@media all and (max-width: 992px) {
  .img__square {
    margin-right: 1.3em;
  }
  h1 {
    font-size: 10.7em;
    font-weight: 600;
  }
  .p__o-mnie {
    font-size: 8.5em;
  }
}

@media all and (max-width: 768px) {
  .div__logo {
    font-size: 9.6em;
    letter-spacing: 0.4em;
  }
  .img__navbig {
    display: none;
  }
  .div__home {
    margin-top: 12em;
  }
  h1 {
    font-weight: 800;
  }
  .img__square {
    display: none;
  }
  .thumbnail img {
    height: 120em;
    margin: 12em;
    width: 180em;
  }
  .div__js-foot {
    font-size: 5em;
    letter-spacing: 0.4em;
  }
  .logo_round {
    width: 12.5em;
    margin: 2em auto 25em auto;
  }
  .img__top {
    width: 10em;
  }
  .div__navi-mobile {
    backdrop-filter: blur(15px);
    background-color: #131416ec;
    font-size: 22em;
    height: 100vh;
    left: 0;
    line-height: 0.5em;
    overflow: hidden;
    padding: 0.8em 0.6em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
  }
  .div__navi-mobile ul {
    display: inline-block;
  }
  .div__navi-mobile li > a {
    color: var(--primary-color);
    text-decoration: none;
  }
  .div__navi-mobile li > a:hover {
    color: rgb(255, 255, 255);
  }
  #img__nm-close {
    aspect-ratio: 1/1;
    border-radius: 20%;
    display: initial;
    position: fixed;
    right: 1em;
    top: 0.8em;
    width: 0.32em;
  }
  #img__nm-close:hover {
    cursor: pointer;
  }
  .div__navi {
    display: none;
  }
  .img__navsmall {
    aspect-ratio: 1/1;
    cursor: pointer;
    display: block;
    margin: 12em auto 0 auto;
    height: 16em;
  }
  h2 {
    font-size: 11em;
  }
  .div__o-mnie {
    display: block;
    margin-top: 8em;
  }
  .img__coffee-machine {
    display: block;
    margin: 20em auto 0 auto;
    max-width: 60vw;
    width: 220em;
  }
  .p__o-mnie {
    font-size: 9em;
    text-align: left;
  }
  .div__kontakt1 {
    display: none;
  }
  .div__kontakt2 {
    display: block;
  }
}

@media all and (max-width: 576px) {
  .div__logo {
    font-size: 7.8em;
    letter-spacing: 0.3em;
  }
  h1 {
    font-size: 8.2em;
    letter-spacing: 0.018em;
  }
  .p__links {
    display: block;
    line-height: 1.2em;
    margin-left: 2.8em;
  }
}

@media all and (max-width: 370px) {
  .div__navi-mobile {
    font-size: 15em;
  }
  #img__nm-close {
    aspect-ratio: 1/1;
    border-radius: 20%;
    position: fixed;
    right: 0.8em;
    top: 0.7em;
    width: 0.4em;
  }
  .img__navsmall {
    height: 11em;
    margin-top: 10em;
  }
  .div__logo {
    font-size: 6em;
    letter-spacing: 0.16em;
  }
  .div__home {
    margin-top: 6em;
  }
  h1 {
    font-size: 7.4em;
    letter-spacing: 0.01em;
    line-height: 1.1em;
    margin-bottom: 0.25em;
    margin-top: 0.23em;
  }
  h2 {
    font-size: 8em;
  }
  .div__js-foot {
    font-size: 4em;
  }
  .logo_round {
    width: 10em;
    margin: 1.4em auto 15em auto;
  }
  .div__o-mnie {
    margin-top: 6em;
  }
  .p__o-mnie {
    font-size: 6em;
    text-indent: 0;
  }
  .img__coffee-machine {
    margin-top: 16em;
  }
  .img__icon {
    display: block;
    margin-top: 1.4em;
  }
  .p__links {
    margin-left: 0;
  }
}
