* {
  box-sizing: border-box;
  font-family: Author-Extralight, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgba(240, 240, 240, 0.776);
  /* #f0f0f0c6 */
  --secondary-color: rgb(255, 255, 255);
  /* #ffffff (white)  */
  --third-color: rgb(255, 222, 162);
  /* #ffdea2 */
}

body {
  background-color: #24262a;
  background-image: linear-gradient(315deg, #24262a 0%, #131416 74%);
  background-repeat: no-repeat;
  color: var(--primary-color);
  font-size: 1.6rem;
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.container {
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
  width: 1600px;
}

.container__img--backtotop {
  bottom: 8em;
  opacity: 0.25;
  position: fixed;
  right: 2em;
  width: 14em;
  z-index: 1;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: rgb(81, 81, 81);
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(114, 114, 114);
}

::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
  box-shadow: inset 0 0 3px rgb(108, 108, 108);
  border-radius: 0.3em;
}

/* HEADER */

.logo {
  animation: anim1 3s ease-in-out;
  color: var(--primary-color);
  font-size: 11em;
  letter-spacing: 0.5em;
  margin: 0 auto;
  max-width: 100vw;
  padding: 0.5em 0 0 0.5em;
  position: relative;
  text-align: center;
  width: fit-content;
  word-wrap: break-word;
}

@keyframes anim1 {
  0% {
    color: #24262a;
  }
  100% {
  }
}

.logo__link--italic {
  font-size: 0.8em;
  font-style: italic;
}

.logo__link {
  color: inherit;
  display: block;
  margin: 0 auto;
  padding: 0.5em 0 0 0;
  text-decoration: none;
  word-wrap: break-word;
}

.logo__link:hover {
  color: var(--secondary-color);
}

/* NAV */

.navimobile {
  display: none;
}

.navimobile__item {
  list-style-type: none;
}

.logomobile {
  margin: 1.5em auto 0;
  position: relative;
  text-align: center;
  width: 1em;
}

.logomobile__img {
  aspect-ratio: 1 / 1;
  width: 1em;
}

.navimobile__button--close {
  display: none;
}

.navimobile__img--close {
  display: none;
}

.navi {
  display: flex;
  align-items: flex-end;
  margin-left: 7em;
  text-align: center;
}

.navi__item {
  color: var(--third-color);
  display: block;
  font-size: 1.1em;
  padding-left: 0.2em;
  text-decoration: none;
  width: 9em;
}

.navi__item:hover {
  background-color: rgb(65, 47, 16);
  border-radius: 3em;
  color: var(--secondary-color);
}

.navi__img {
  aspect-ratio: 1 / 1;
  height: 14em;
  margin-right: 6em;
}

.hamburgermenu {
  background-color: transparent;
  cursor: pointer;
  display: none;
  margin: 10em auto 0;
}

.hamburgermenu__img {
  aspect-ratio: 1 / 1;
  display: block;
  height: 16em;
}

.navi__menu {
  color: var(--third-color);
  display: flex;
  font-size: 5em;
  justify-content: left;
  letter-spacing: 0.2em;
  list-style-type: none;
  margin: 3em 0 0 0;
}

.navi__item {
  border-right: 1px solid rgb(61, 61, 61);
  line-height: 1.5;
  padding: 0 1em;
  text-transform: uppercase;
}

.navi__item--last {
  border-right: none;
}

/* MAIN */

/* HOME */

.div__effect {
  margin: 5em auto 0;
  width: 100%;
}

.maindescription {
  background-color: rgb(35, 35, 35);
  background-image: url(../img/home/pic1.jpg);
  background-position: left 80%;
  border-radius: 5em;
  padding: 5em 0;
  margin: 20em auto 16em auto;
  width: 80%;
}

.maindescription__break {
  display: none;
}

.maindescription__img--square {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  height: 0.3em;
  margin-right: 1.8em;
  opacity: 0.5;
  vertical-align: middle;
}

.maindescription__header {
  color: rgb(159, 155, 147);
  font-size: 9em;
  font-weight: 200;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  padding: 0.1em 2em;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.4em;
  word-wrap: break-word;
}

/* O MNIE  */

.container__header2 {
  font-size: 14em;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
  margin-top: 1em;
  word-wrap: break-word;
}

.container__header2--marginbottom {
  margin-bottom: 0.05em;
}

.about {
  display: flex;
  justify-content: flex-end;
  margin: 12em auto 2em auto;
  transition: display 0.5s;
  width: 80%;
}

.about__text {
  font-size: 10.5em;
  text-align: left;
  letter-spacing: 0.06em;
  margin: 0 0 2em;
  text-indent: 2em;
  word-wrap: break-word;
}

.about__text--margin {
  border-top: 1px solid rgb(70, 70, 70);
  color: white;
  padding-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  text-indent: 0;
}

.about__pics {
  background-color: rgb(0, 0, 0);
  border-radius: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  margin-left: 48em;
  margin-top: 74em;
}

.about__img--sidebar {
  border-radius: 45em;
  max-width: 30vw;
  width: 480em;
}

.about__yt {
  aspect-ratio: 16/9;
  display: block;
  margin: 10em auto 30em;
  width: 90%;
}

.about__input {
  background-color: #24262a;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 1em;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
  font-size: 16em;
  padding: 0.1em 1em 0.1em;
  margin: 0 auto 2em;
  max-width: 80vw;
  width: fit-content;
  white-space: normal;
  word-wrap: break-word;
}

.about__input:hover {
  background-color: rgb(25, 25, 25);
}

/* KONTAKT */

.contactmobile {
  display: none;
}

.contactmobile,
.contact {
  margin: 12em auto 2em auto;
  width: 80%;
}

.contact__list {
  font-size: 11.8em;
  letter-spacing: 0.1em;
  line-height: 1em;
  list-style-type: none;
  margin-left: 2em;
  margin-top: 0.2em;
}

.contactmobile__list {
  font-size: 11.8em;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  list-style-type: none;
  margin-left: 2em;
  word-wrap: break-word;
}

.contactmobile__link,
.contact__link {
  color: var(--primary-color);
  font-size: 1em;
  margin-right: 0.7em;
  text-decoration: none;
  transition: color 0.7s, letter-spacing 0.7s;
}

.contactmobile__link:hover,
.contact__link:hover {
  color: rgb(255, 255, 255);
  letter-spacing: 0.13em;
}

.contactmobile__icon,
.contact__icon {
  aspect-ratio: 1 /1;
  margin-bottom: 0.2em;
  margin-right: 1.3em;
  vertical-align: middle;
  width: 1.8em;
}

.contact__tip {
  display: inline;
  font-size: 0.7em;
  font-style: italic;
  letter-spacing: 0.1em;
}

/* FOOTER */

.footer__logo {
  font-size: 6.4em;
  letter-spacing: 0.5em;
  margin: 3em auto 0 auto;
  max-width: 100vw;
  padding: 0.5em 0 0 0.5em;
  text-align: center;
  width: fit-content;
  word-wrap: break-word;
}

.footer__logo--italic {
  font-size: 0.8em;
  font-style: italic;
}

.footer__logoicon {
  aspect-ratio: 1 / 1;
  display: block;
  height: 16em;
  margin: 5em auto 35em auto;
}

/* @MEDIA */

@media all and (max-width: 1200px) {
  .maindescription__img--square {
    margin-right: 1.2em;
  }
  .maindescription__header {
    font-size: 8em;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
  .about__text {
    font-size: 9.5em;
  }
}

@media all and (max-width: 992px) {
  .maindescription {
    padding: 3.5em 0;
  }
  .maindescription__img--square {
    margin-right: 1em;
  }
  .maindescription__header {
    font-size: 7em;
    font-weight: 600;
  }
  .about__text {
    font-size: 8.5em;
  }
}

@media all and (max-width: 768px) {
  .logo {
    font-size: 9.6em;
    letter-spacing: 0.4em;
  }
  .navi__img {
    display: none;
  }
  .maindescription {
    margin-top: 12em;
    padding: 3em 0;
  }
  .maindescription__header {
    font-weight: 800;
  }
  .maindescription__img--square {
    display: none;
  }
  .footer__logo {
    font-size: 5em;
    letter-spacing: 0.4em;
  }
  .footer__logoicon {
    width: 12.5em;
    margin: 2em auto 25em auto;
  }
  .container__img--backtotop {
    width: 10em;
  }
  .navimobile {
    backdrop-filter: blur(15px);
    background-color: #131416ec;
    font-size: 22em;
    height: 100vh;
    left: 0;
    line-height: 0.5em;
    overflow-x: hidden;
    padding: 0.8em 0.6em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
  }
  .navimobile__menu {
    display: inline-block;
  }
  .navimobile__link {
    color: var(--primary-color);
    text-decoration: none;
  }
  .navimobile__link:hover {
    color: rgb(255, 255, 255);
  }
  .navimobile__button--close {
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    display: block;
    position: fixed;
    right: 15vw;
    top: 0.7em;
    width: 0.37em;
  }
  .navimobile__img--close {
    display: block;
    border-radius: 20%;
  }
  .navimobile__button--close:hover {
    cursor: pointer;
  }
  .navi {
    display: none;
  }
  .hamburgermenu {
    display: block;
  }
  .maindescription__header {
    font-size: 6em;
  }
  .container__header2 {
    font-size: 11em;
  }
  .about {
    display: block;
    margin-top: 8em;
  }
  .about__pics {
    background-color: inherit;
    display: block;
    justify-content: center;
    margin-left: 0;
    margin-top: 26em;
    margin-bottom: 30em;
  }
  .about__figwrapper {
    display: flex;
    justify-content: center;
  }
  .about__img--sidebar {
    margin-bottom: 4vw;
    max-width: 70vw;
    width: 440em;
  }
  .about__text {
    font-size: 9em;
  }
  .contact {
    display: none;
  }
  .contactmobile {
    display: block;
    margin-top: 5em;
  }
}

@media all and (max-width: 576px) {
  .logo {
    font-size: 7.8em;
    letter-spacing: 0.3em;
  }
  .maindescription__header {
    font-size: 5em;
    letter-spacing: 0.018em;
  }
  .contact__tip {
    display: block;
    line-height: 1.2em;
    margin-left: 2.8em;
  }
}

@media all and (max-width: 370px) {
  .hamburgermenu {
    margin-top: 6em;
  }
  .navimobile {
    font-size: 15em;
  }
  .navimobile__button--close {
    right: 25vw;
    top: 0.7em;
    width: 0.4em;
  }
  .navimobile {
    padding-left: 15vw;
  }
  .logo {
    font-size: 6em;
    letter-spacing: 0.16em;
  }
  .maindescription {
    margin-top: 6em;
    padding: 2em 0;
  }
  .maindescription__break {
    display: block;
    height: 1em;
  }
  .maindescription__header {
    font-size: 3em;
    letter-spacing: 0.01em;
    line-height: 1.1em;
    margin-bottom: 0.25em;
    margin-top: 0.23em;
  }
  .container__header2 {
    font-size: 8em;
  }
  .about__input {
    font-size: 12em;
  }
  .about__yt {
    display: none;
  }
  .about__input {
    display: block;
  }
  .footer__logo {
    font-size: 4em;
  }
  .footer__logoicon {
    width: 10em;
    margin: 1.4em auto 15em auto;
  }
  .about {
    margin-top: 6em;
  }
  .about__text {
    font-size: 6em;
    text-indent: 0;
  }
  .contactmobile__icon {
    display: block;
    margin-top: 1.4em;
  }
  .contactmobile__link {
    display: block;
    margin-left: -35px;
    word-wrap: break-word;
  }
  .contact__tip {
    margin-left: -35px;
  }
}
