body {
  align-items: center;
  background: linear-gradient(to top left, rgb(45, 45, 58), rgb(28, 28, 29));
  display: flex;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.div__button {
  height: 122px;
  position: relative;
  width: 140px;
}

#cat__button {
  background-color: rgba(28, 28, 29, 0.336);
  border: 2px solid rgb(88, 85, 103);
  border-radius: 16px;
  color: rgb(195, 191, 210);
  cursor: pointer;
  font-family: CabinetGrotesk-Extralight, sans-serif;
  font-size: 22px;
  height: 52px;
  letter-spacing: 2px;
  padding-top: 2px;
  width: 140px;
}

#cat__button:hover {
  background-color: rgba(27, 27, 27, 0.789);
}

#cat__button:focus {
  box-shadow: 0 0 10px 5px rgba(64, 62, 74, 0.463);
  outline: none;
}

#cat__button:active {
  box-shadow: none;
  border-color: rgb(66, 64, 77);
  color: rgb(169, 165, 182);
}

#cats__img {
  display: none;
  position: absolute;
  left: 2px;
  top: -80px;
  width: 140px;
}
