* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: url(picture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(209, 209, 209, 0.638);
  display: flex;
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  justify-content: center;
  letter-spacing: 0.2em;
  padding-top: 12vh;
}

.frm {
  align-items: center;
  background-color: rgba(47, 47, 56, 0.333);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(113, 78, 3, 0.384);
  border-radius: 15px;
  display: flex;
  height: 140em;
  justify-content: center;
  /* left: 50%; */
  /* position: relative;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 130em;
}

fieldset {
  background-color: rgba(13, 13, 15, 0.211);
  border: 1px solid rgba(255, 255, 255, 0.199);
  border-radius: 15px;
  height: 90%;
  padding: 25em 10em;
  width: 85%;
}

.lgnd {
  font-size: 10em;
}

.lblinside {
  display: inline-block;
  text-align: right;
  width: 36%;
}

label {
  font-size: 10em;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.541);
  border: 0.1em solid rgb(113, 78, 3);
  border-radius: 1em;
  font-size: 6em;
  margin-bottom: 1.4em;
  margin-left: 1em;
  padding-left: 0.6em;
}

.dmsg {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
}

.dmsg textarea {
  margin-left: 1.22em;
  font-size: 5.7em;
  resize: none;
  width: 12.65em;
}

input[type="submit"] {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  font-size: 7em;
  letter-spacing: 0.1em;
  margin-left: 56%;
  padding: 0.3em 1em;
}

input[type="submit"]:hover {
  background-color: rgb(34, 34, 34);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

@media all and (max-width: 550px) {
  .frm {
    padding-left: 1em;
    padding-right: 1em;
    width: 70em;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    padding: 20em 3em;
  }
  .lgnd {
    font-size: 9em;
  }
  .lblinside {
    width: fit-content;
  }
  label {
    font-size: 9em;
  }
  input {
    font-size: 4em;
    margin: 0.5em 5em 2em 1.6em;
  }
  .dmsg {
    flex-direction: column;
  }
  .dmsg textarea {
    margin-left: 1.22em;
    margin-top: 0.6em;
    font-size: 4.1em;
    width: 13.65em;
  }
  input[type="submit"] {
    width: fit-content;
  }
}
