html {
  font-size: 62.5%;
}

body {
  background-color: black;
  border: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  width: 240rem;
}

#zegar {
  border-radius: 9em;
  color: rgb(222, 189, 181);
  font-family: "Stick No Bills", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  max-width: 70vw;
  padding: 0.3em 0.5em;
  position: relative;
  text-align: left;
  z-index: +1;
}

.foto {
  margin: 3% auto 0 auto;
  overflow-x: auto;
  width: 100%;
}

.laptop {
  width: 100%;
}

@media all and (min-width: 2001px) #zegar {
  font-size: 7rem;
}

@media all and (max-width: 2000px) {
  .foto {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }
  .container {
    width: 100vw;
  }
}

@media all and (max-width: 1200px) {
  #zegar {
    font-size: 4rem;
    .foto {
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
    }
    .container {
      width: 100vw;
    }
  }
}

@media all and (max-width: 768px) {
  #zegar {
    font-size: 3rem;
  }
}

@media all and (max-width: 576px) {
  #zegar {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 360px) {
  #zegar {
    font-size: 1.5rem;
  }
}
