html {
  font-size: 62.5%;
}

body {
  background-color: black;
  background-image: url(img/tlo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  width: 162rem;
}

#clock {
  color: rgb(222, 189, 181);
  font-family: "Stick No Bills", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-left: 6vw;
  max-width: 70vw;
  padding: 7% 0 0 0;
  text-align: left;
  word-wrap: break-word;
}

.laptop {
  margin: 5em auto 0 auto;
  width: 100%;
}
